.card{
    width: 250px;
    border : 1px solid #ded3ce;
    box-shadow: 0px 0px 2px #ded3ce;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.upper,.lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    width: 25%;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #ded3ce;
    box-shadow: 0px 0px 2px #ded3ce;
}
.title{
    font-size: 12px;
    font-weight: 600;
    text-align: right;
}
.price {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.percentage {
    font-size: 15px;
    display: flex;
    color:green;
    align-items: center;
}
/* .lower{
    display: flex;
    flex-direction: column;
    align-items: end;
} */